# GitLab CI YML file dedicated for LC environment (Quartz)
#
# Spack must be available
# It would be better to install all Boost versions manually,
# as it causes errors often and could exceed the timelimit of the system.
#
# One might want to change the location of builds directory on LC clusters to avoid consuming the home directory space.
# Type the following command on an LC cluster:
# $ ln -s /usr/workspace/lc-username ~/.gitlab-runner

stages:
  - install
  - build


variables:
  GTEST_COLOR: "1"
  GIT_DEPTH: 0
  SPACK_ARCH_INFO: "arch=linux-rhel7-broadwell"


install_boost:
  stage: install
  tags:
    - quartz
    - shell
  script:
    - hostname
    - pwd
#    - spack install boost@1.79.0
#    - spack install boost@1.78.0
#    - spack install boost@1.77.0
#    - spack install boost@1.76.0
#    - spack install boost@1.75.0
#    - spack install boost@1.74.0
#    - spack install boost@1.73.0
#    - spack install boost@1.72.0
#    - spack install boost@1.71.0
#    - spack install boost@1.70.0
#    - spack install boost@1.69.0
#    - spack install boost@1.68.0
#    - spack install boost@1.67.0
#    - spack install boost@1.66.0
#    - spack install boost@1.65.1
#    - spack install boost@1.65.0
#    - spack install boost@1.64.0
#    - spack clean
    - spack find


.build:
  stage: build
  tags:
    - quartz
    - shell
  script:
    - echo "=== build section ==="
    - module load gcc/${GCC_VERSION}
    - spack load boost@${BOOST_VERSION} ${SPACK_ARCH_INFO}
    - export METALL_TEST_DIR="/dev/shm/metall_test-${CI_CONCURRENT_ID}-${CI_PIPELINE_IID}"
    - srun -N1 -ppdebug bash ./scripts/CI/build_and_test.sh

build_gcc10.2.1_bst1.79.0:
  extends: .build
  variables:
    GCC_VERSION: "10.2.1"
    BOOST_VERSION: "1.79.0"

build_gcc10.2.1_bst1.78.0:
  extends: .build
  variables:
    GCC_VERSION: "10.2.1"
    BOOST_VERSION: "1.78.0"

build_gcc10.2.1_bst1.77.0:
  extends: .build
  variables:
    GCC_VERSION: "10.2.1"
    BOOST_VERSION: "1.77.0"

build_gcc10.2.1_bst1.76.0:
  extends: .build
  variables:
    GCC_VERSION: "10.2.1"
    BOOST_VERSION: "1.76.0"

build_gcc10.2.1_bst1.75.0:
  extends: .build
  variables:
    GCC_VERSION: "10.2.1"
    BOOST_VERSION: "1.75.0"

build_gcc10.2.1_bst1.74.0:
  extends: .build
  variables:
    GCC_VERSION: "10.2.1"
    BOOST_VERSION: "1.74.0"

build_gcc10.2.1_bst1.73.0:
  extends: .build
  variables:
    GCC_VERSION: "10.2.1"
    BOOST_VERSION: "1.73.0"

build_gcc10.2.1_bst1.72.0:
  extends: .build
  variables:
    GCC_VERSION: "10.2.1"
    BOOST_VERSION: "1.72.0"

build_gcc10.2.1_bst1.71.0:
  extends: .build
  variables:
    GCC_VERSION: "10.2.1"
    BOOST_VERSION: "1.71.0"

build_gcc10.2.1_bst1.70.0:
  extends: .build
  variables:
    GCC_VERSION: "10.2.1"
    BOOST_VERSION: "1.70.0"

build_gcc10.2.1_bst1.69.0:
  extends: .build
  variables:
    GCC_VERSION: "10.2.1"
    BOOST_VERSION: "1.69.0"

build_gcc10.2.1_bst1.68.0:
  extends: .build
  variables:
    GCC_VERSION: "10.2.1"
    BOOST_VERSION: "1.68.0"

build_gcc10.2.1_bst1.67.0:
  extends: .build
  variables:
    GCC_VERSION: "10.2.1"
    BOOST_VERSION: "1.67.0"

build_gcc10.2.1_bst1.66.0:
  extends: .build
  variables:
    GCC_VERSION: "10.2.1"
    BOOST_VERSION: "1.66.0"

build_gcc10.2.1_bst1.65.1:
  extends: .build
  variables:
    GCC_VERSION: "10.2.1"
    BOOST_VERSION: "1.65.1"

build_gcc10.2.1_bst1.65.0:
  extends: .build
  variables:
    GCC_VERSION: "10.2.1"
    BOOST_VERSION: "1.65.0"

build_gcc10.2.1_bst1.64.0:
  extends: .build
  variables:
    GCC_VERSION: "10.2.1"
    BOOST_VERSION: "1.64.0"